#map {
    width: 800px;
    height: 600px;
    background-image: url('img/MAPEANDO/MAPA FONDO1.png'); /* Reemplaza 'mapa.jpg' con la imagen de tu mapa */
    background-size: cover;
    position: relative;
  }
  
  .piece {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semitransparente */
    border: 1px solid #000;
    position: absolute;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para que el confeti no desborde */
    background-color: #f0f0f0;
}

.confeti {
    width: 20px; /* Ancho del rectángulo */
    height: 10px; /* Altura del rectángulo */
    position: absolute;
    animation: fall 5s infinite linear; /* Animación de caída */
}

@keyframes fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 1;
    }
}

#entorno{
    display: block;
    margin: 0 auto;
}